<div class="container">
  <div class="row">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Email addres</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of services">
              <td>{{service.Name}}</td>
              <td> <img src='{{serviceLoadImage}}{{service.LogoImage}}' height="150px" width="150px"/></td>
              <td>{{service.EmailAddress}}</td>
              <td>{{service.Description}}</td>
              <td><button type="button" (click)="approveService(service.Id)" class="btn btn-success">Approve</button></td>
              <td><button type="button" (click)="rejectService(service.Id)" class="btn btn-danger">Reject</button></td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
