<div class="container">
  <div class="row">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Email address</th>
              <th scope="col">Image</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Date of Birth</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">{{user.User.UserName}}</th>
              <td> <img src='{{userImageLoad}}{{user.User.DocumentImage}}' height="150px" width="150px"/></td>
              <td>{{user.User.FirstName}}</td>
              <td>{{user.User.LastName}}</td>
              <td>{{user.User.DateOfBirth}}</td>
              <td><button type="button" (click)="approveUserAccount(user.Id)" class="btn btn-success">Approve</button></td>
              <td><button type="button" (click)="rejectUserAccount(user.Id)" class="btn btn-danger">Reject</button></td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
