################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VerzijaBezAppUser/RentApp/RentApp/App_Data/e01706ce-aea1-49d0-a8dd-3007437f07f9dekstop.jpg
