################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VerzijaBezAppUser/RentApp/RentApp/App_Data/5b721b8e-584e-4cf8-a798-1ee8f417f8a0David za sajt.jpg
/VerzijaBezAppUser/RentApp/RentApp/App_Data/8b04bb0b-e36e-4020-ad18-ccffab9be01fDavid za sajt.jpg
