################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/VerzijaBezAppUser/RentApp/RentApp/App_Data/5b721b8e-584e-4cf8-a798-1ee8f417f8a0David za sajt.jpg
/VerzijaBezAppUser/RentApp/RentApp/App_Data/8b04bb0b-e36e-4020-ad18-ccffab9be01fDavid za sajt.jpg
/VerzijaBezAppUser/RentApp/RentApp/App_Data/ba0bf5f0-1ba3-44a5-8ca6-7d7281c8d872WIN_20180427_17_32_39_Pro.jpg
/VerzijaBezAppUser/RentApp/RentApp/App_Data/fc4bd849-20b3-4f4e-984e-dbf0f4275922WIN_20180415_21_07_08_Pro.jpg
/VerzijaBezAppUser/RentApp/RentApp/App_Data/939141bb-6f86-4a6e-9dff-5c1447d16ad0WIN_20180427_17_32_39_Pro.jpg
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VerzijaBezAppUser/RentApp/RentApp/App_Data/e01706ce-aea1-49d0-a8dd-3007437f07f9dekstop.jpg
/VerzijaBezAppUser/RentApp/RentApp/App_Data
/RentApplication/AccountManaging/wwwroot/App_Data
/RentApplication/.vs/RentApplication/v15