<div class="container">
    <div class=text-center>
     <h2>Rent-Vehicle Services</h2>
     <br/><br/>
      <div id="banner" class="col col-lg-4 col-lg-push-4">
        <br/>
          <div class="inline-block">
            <div *ngFor='let rentVehicle of services'>
                <img src='https://localhost:5001/api/Services/LoadImage?imageId={{rentVehicle.LogoImage}}' height="300" weight="300"/><br/><br/>
                <label>Email Address:</label> {{rentVehicle.EmailAddress}}<br/>
                <label>Description:</label> {{rentVehicle.Description}}<br/>
                <br/>
                <button type="button" [routerLink]="['/ViewService/' , rentVehicle.Id]" class="btn btn-default">View</button> &nbsp;
                <button type="button" *ngIf="isManagerOrAdmin(rentVehicle)" [routerLink]="['/EditService/' , rentVehicle.Id]" class="btn btn-default">Edit</button> &nbsp;
                <button type="button" *ngIf="isManagerOrAdmin(rentVehicle)" (click)="deleteService(rentVehicle.Id)" class="btn btn-default">Delete</button> &nbsp;
                <button type="button" [routerLink]="['/Comment/' , rentVehicle.Id]" class="btn btn-default">Comments</button> &nbsp;
                <button type="button" [routerLink]="['/Rating/' , rentVehicle.Id]" class="btn btn-default">Ratings</button> &nbsp;
                <br/><br/><br/><br/>
            </div>
            <div class="inline-block">
                <br/><br/>
                <button type="button" *ngIf="isManagerOrAdmin(rentVehicle)" [routerLink]="['/AddService']" class="btn btn-default">Add Rent-Vehicle Service</button>
                <br/><br/>
            </div>
          </div>
        </div>
    </div>
</div>