<div class="container">
  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div>
          <label for="documenImage">Document image:</label>
          <img [src]="url"  height="300px" width="400px">
          <input type="file" id="documenImage" (change)="handleFileInput($event)">
        </div>
        <div>
          <br/>
          <button *ngIf=url type="submit" class="btn btn-success">Request approval</button>
        </div>
      </form>
    </div>
  </div>
</div>