<div class='parent'>
    <div *ngFor='let comment of comments'>
        <div class="inline-block">
            <label>Comment:</label><br/>
            <div class="inline-block">
                <label >User:</label> {{comment.UserId}}<br/>
                <label>Text:</label> {{comment.Text}}<br/>
                <label type="Date">Date:</label> {{comment.DateTime}}<br/>
            </div>
            
            <button type="button" *ngIf="canUserEditComment(comment.UserId)" [routerLink]="['/EditComment/' , comment.Id]" class="btn btn-default">Edit Comment</button> &nbsp;

            <br/><br/>
        </div>
    </div>
</div>  

<button type="button" *ngIf="!hasUserCommented()" [routerLink]="['/AddComment/' , serviceId]" class="btn btn-default">Add Comment</button> &nbsp;