<div class='parent'>
    <div *ngFor='let comment of comments'>
        <div class="inline-block">
            <label>Comment:</label><br/>
            <div class="inline-block">
                <label >User:</label> {{comment.User}}<br/>
                <label>Text:</label> {{comment.Text}}<br/>
                <label type="Date">Date:</label> {{comment.DateTime}}<br/>
                </div>
                <br/><br/><br/>
        </div>
    </div>
</div>  

<button type="button" *ngIf="!hasUserCommented()" [routerLink]="['/AddComment/' , serviceId]" class="btn btn-default">Add Comment</button> &nbsp;