.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}
form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.container {
	text-align:justify;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	display: table;
	table-layout: fixed;
 	width: 80%;
}
.parent {
	padding: 1rem;
}

.child {
	padding: 1rem;
}

.inline-block-child {
	display: inline-block;
}