<div class='parent'>
  <div *ngIf="isMarkerClicked(); then thenBlock; else elseBlock"></div>

  <ng-template #thenBlock>
      <div class='child inline-block-child'>
        <img src='http://localhost:51680/api/BranchOffices/LoadImage?imageId={{branchOffice.Image}}' height="300px" weight="300px"/>
        <br/><br/>
        <label>Address:</label> {{branchOffice.Address}}
        <br/><br/>
        <button type="button" *ngIf="isManagerOrAdmin()" (click)="onDelete(branchOffice.Id)" class="btn btn-default">Delete</button>
         &nbsp; 
        <button type="button" *ngIf="isManagerOrAdmin()" (click)="onEdit(branchOffice.Id)" class="btn btn-default">Edit</button>
      </div> 
      <div class='child inline-block-child'>
          <app-map  [serviceId]="serviceId" (messageEvent)="receiveMessage($event)"></app-map>
      </div>
  </ng-template>
  
  <ng-template #elseBlock>
      <div class='child inline-block-child'>
        <app-map  [serviceId]="serviceId" (messageEvent)="receiveMessage($event)"></app-map>
      </div>
  </ng-template>
</div>